.cleanListBackdrop
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    backdrop-filter: blur(10px);
    background: #3939397c;
}

.giftsCleanList
{
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: 30%;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giftsCleanListTitle
{
    font-size: 32px;
}

.giftsCleanListItems
{
    padding: 0;
}

.giftsCleanListButtons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.giftCleanListCloseBtn,
.giftCleanListExportBtn
{
    line-height: 2.5em;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    width: 30%;
    transition: 0.25s ease all;
}

.giftCleanListCloseBtn
{
    background: #bebebe;
}

.giftCleanListCloseBtn:hover
{
    background: #999;
}

.giftCleanListExportBtn
{
    background: #be1614;
    color: #f1f1f1;
}

.giftCleanListExportBtn:hover
{
    background-color: #840c0b;;
}