.giftItem
{
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    padding: 0.75rem 0.75rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: red;
}

.giftImg
{
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 0.75rem;
}

.giftMainInfo
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 50%;
}

.giftName,
.giftDest
{
    margin: 0;
}

.giftName
{
    font-weight: 700;
}

.giftDest
{
    font-size: 14px;
}

.giftPrice
{
    margin-left: 1.5rem;
}

.giftButtons
{
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.giftButtons > *
{
    height: 100%;
    aspect-ratio: 1/1;
}