.App
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    font-size: 24px;
}

.mainTitle
{
    margin: 0;
    font-family: 'Mountains of Christmas', cursive;
}

.toggleAudioBtn
{
    width: 48px;
    aspect-ratio: 1/1;
    border: none;
    background: none;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

.toggleAudioBtn svg
{
    height: 100%;
    width: 100%;
}

.giftsDiv
{
    width: 35%;
    min-width: 300px;
    height: fit-content;
    max-height: 75vh;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f4f4f4;
}

.openFormBtn
{
    width: 100%;
    line-height: 2.5em;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #be1614;
    color: #f1f1f1;
}

.openFormBtn:hover
{
    background-color: #840c0b;
}

.clearListBtn,
.openCleanListBtn
{
    line-height: 2.25em;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #bebebe;
}

.clearListBtn:hover,
.openCleanListBtn:hover
{
    background: #999;
}

.giftsTotalPrice
{
    text-align: center;
    padding: 0.25rem;
    margin: 0.25rem;
    border-top: 2px solid #000;
    font-weight: 700;
    font-size: 14px;
}

.giftsTotalPrice > p
{
    margin: 0.5rem 0 0 0;
    font-weight: 400;
    font-size: 16px;
}

.App
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; 
    background: url('/public/media/images/snow1.png'),  url('/public/media/images/snow2.png');
    -webkit-animation: snow 15s linear infinite;
    animation: snow 15s linear infinite;
}

@keyframes snow
{
0% {
    background-position: 0 0, 0 0;
}
100% {
    background-position: 500px 1000px, 500px 500px;
    }
}

@-webkit-keyframes snow
{
    0% {
        background-position: 0 0, 0 0;
    }
    100% {
        background-position: 500px 1000px, 500px 500px;
    }
}