.App
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.mainTitle
{
    margin-top: 0;
}

.giftsDiv
{
    width: 35%;
    min-width: 300px;
    height: fit-content;
    max-height: 75vh;
    background-color: #acacac;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.openFormBtn
{
    width: 100%;
    line-height: 2em;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.clearListBtn
{
    line-height: 2em;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.giftsTotalPrice
{
    text-align: center;
    padding: 0.25rem;
    margin: 0.25rem;
    border-top: 2px solid #000;
    font-weight: 700;
    font-size: 14px;
}

.giftsTotalPrice > p
{
    margin: 0.5rem 0 0 0;
    font-weight: 400;
    font-size: 16px;
}